{% extends "::base.html.twig" %}
{% block body %}
<h2> update society </h2>
<form class="form-inline" method="post">
  <div class="form-group">
  <input type="text" name="name" value="{{ producers.name }}">name</div>
   <div class="form-group">
   <label for="type">Private</label>
   {% if producers.type == true %}
      <input type="checkbox" name="private" checked >
   {% else %}
    <input type="checkbox" name="private" >
   {% endif %}

   </div>
  <input type="submit" name="update" value="update">
  </form>


{% endblock %}
